* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(250, 250, 250);
}

.container > * {
	border: 3px solid black;
}

.container {
	display: grid;
	grid-template: 150px 1fr 50px / 200px 1fr;
}

.sidebar {
	grid-row: 1 / -1;
}

header {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

main {
	display: grid;
	grid-template: 2fr 1fr / 1fr 1fr;
}

.projects {
	grid-row: 1 / 3;
	display: grid;
	grid-template: min-content 1fr / repeat(
			auto-fit,
			minmax(100px, 1fr)
		);
	gap: 16px;
}

.projects > .section-title {
	grid-column: 1 / -1;
}
